@import 'tailwindcss';
* {
  /* outline: 1px solid red !important; */
}

@theme {
  /* 60% */
  --color-body-bg: #f5f7fa;

  /* 30% */
  --color-primary: #005eb8;
  --color-primary-dark: #004c94;

  /* 10% */
  --color-secondary: #ffd700;
  --color-secondary-dark: #e6c200;

  --font-inter: 'Inter', sans-serif;
}

/*
@layer base {
  body {
    @apply bg-body-bg text-gray-800 font-inter antialiased;
  }

  a {
    @apply no-underline text-inherit;
  }

  ul {
    @apply list-none;
  }

  button {
    @apply border-none outline-none cursor-pointer;
  }
}
  */
